@media (max-width: 1095px) {
    .header-text{
        display: inline-block;
        width: 60%;
    }

    .header-text h1{
        font-size: 3.5rem;
        font-weight: lighter;
        color: #333;
        font-weight: 500;
    
    }
    
    .header-text p{
        color: #333;
        font-size: 1.5rem;
        font-weight: normal;
    
    }
    
    
    .nav-right ul,
    .nav-bar ul {
        display: none;
    }

    .logo-button{
        display: flex;
        gap: 10px;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .content img{
        width: 700px;
    }

    .content-features{
        width: 100%;
    }

     /* RESOURSES SECTION */
     .resources-header p{
        font-size: 1.3rem;
    }

    .resources-cards {
        justify-content: center;
        gap: 20px;
    }
    .resource-card {
        flex: 1 1 calc(50% - 1rem);
    }

    .resource-card-content h3{
        font-weight: bold;
        color: #333;
        font-size: 1.7rem;
    }
    .resource-card-content p{
        font-weight: 500;
        color: #333;
        font-size: 1rem;
    }

    .resource-card-content a{
        font-size: 1.3rem;
    }

    .resource-author{
        font-size: 1rem;
    }

    .resource-author img{
        width: 50px;
    }

    .testimonial{
        display: flex;
        flex-direction: column-reverse;
        height: 160vh;  
    }

    .testimonial-text{
        width: 100%;   
        display: block;
        line-height: 1.5;
        color: #fff;
    }
    
    .testimonial-content{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
        
    .testimonial-slide{
        padding: 30% 0% 1% 0%;
    }


    .cta-text{
        margin-bottom: 15%;
        width: 100%;
    }


    /* FOOTER SECTION */
    .footer-details{
        display: flex;
        flex-direction: column;
        
    }
    .social-icon{
        margin-bottom: 5%;
    }
    .footer-details div{
        font-size: 1.2rem;
    }
    .footer-law{
        display: flex;
        margin-top: 20px;
    }
    .footer-law div{
        padding-bottom: 20px;
    }

} 


@media (max-width: 767px) {
    .header-text{
        display: inline-block;
        width: 100%;
    }
    
    .logo-button button{
        padding: 20px;
    }

    .header-text h1{
        font-size: 2.5rem;
        font-weight: normal;
        color: #333;

    }

    .header-text p{
        color: #333;
        font-weight: 500;
        font-size: 1.8em;
    }

    .why-us{
        display:  block;
        
    }
    .why-us-card{
        display: block;
    }
    
    .content-features {
        width: 100%;
    }

    .features {
        display: flex;
        flex-wrap: wrap;
    }

    .content-features h2{
        font-size: 2.5rem;
    }

    .content-features p{
        font-size: 1.2rem;
    }

    .partners{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 30px;
        gap: 5px;
        padding: 30px;
    }

    .roles{
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .roles div{
        font-size: 1.2em;
    }

    .testimonial{
        display: flex;
        flex-direction: column-reverse;
        height: 140vh;        
    }

    .testimonial-content{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .testimonial-text{
        width: 100%;
    }
    
    /* RESOURSES SECTION */
    .resources-header p{
        font-size: 1.3rem;
    }

    .resources-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .resource-card{
        flex: 1 1 100%;
    }

    .resource-card-content h3{
        font-weight: bold;
        color: #333;
        font-size: 1.5rem;
    }

    .resource-card-content p{
        font-weight: 500;
        color: #333;
        font-size: 1.2rem;
    }

    .resource-card-content a{
        font-size: 1.3rem;
    }

    .resource-author{
        font-size: 1rem;
    }

    .resource-author img{
        width: 50px;
    }
    
    /* CTA-SECTION */
    .cta-content{
        display: block;
    }

    .cta-text{
        width: 100%;
    }

    .cta-img{
        margin-top: 30px;
    }

    /* FOOTER SECTION */
    .footer-details{
        display: flex;
        flex-direction: column;
        
    }
    .social-icon{
        margin-bottom: 5%;
    }
    .footer-details div{
        font-size: 1.2rem;
    }
    .footer-law{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .footer-law div{
        padding-bottom: 20px;
    }

}